<form>
    <div>{{localize "NOVA.GmScreen.Stress.Select"}}</div>
    <select name="stresslevel" id="stresslevel" style="width: 100%;">
        <option value="B">{{localize "NOVA.Item.Stress.Durations.B"}}</option>
        <option value="Q">{{localize "NOVA.Item.Stress.Durations.Q"}}</option>
        <option value="S">{{localize "NOVA.Item.Stress.Durations.S"}}</option>
        <option value="T">{{localize "NOVA.Item.Stress.Durations.T"}}</option>
        <option value="L">{{localize "NOVA.Item.Stress.Durations.L"}}</option>
        <option value="LL">{{localize "NOVA.Item.Stress.Durations.LL"}}</option>
        <option value="E">{{localize "NOVA.Item.Stress.Durations.E"}}</option>
        <option value="P">{{localize "NOVA.Item.Stress.Durations.P"}}</option>
    </select>
</form>