<div class="nova6-setting">
    <header class="nova6-headline">
        <h3 class="nova6-headline__text">{{localize headline}}</h3>
    </header>

    <div class="nova6-slider">
        <input class="nova6-js-setting-range-value nova6-slider__label" type="text" value="{{field}}" />

        <input
            type="range"
            class="nova6-js-setting-range-slider"
            name="{{fieldName}}"
            data-dtype="Number"
            value="{{field}}"
            min="{{min}}"
            max="{{max}}"
        />
    </div>
</div>
