<div class="nova6-setting">
    <header class="nova6-headline ">
        <h3 class="nova6-headline__text">{{localize headline}}</h3>
    </header>

    <label class="nova6-setting__text" for="{{ fieldName }}">
        <div contenteditable="true" class="nova6-text-input" data-edit="{{ fieldName }}">{{{field}}}</div>

        {{#if help}}<span class="nova6-text-input__setting-label">{{localize help}}</span>{{/if}}
    </label>
</div>
