{{#*inline "trackerPartial"}}
    <div class="nova6-header__tracker">
        <label class="nova6-header__label nova6-header__label--center" for="name">
            {{localize (lookup (concat "NOVA.Sheet.Tracker." name) 'string')}}
        </label>

        <div class="nova6-header__tracker-wrapper">
            <span
                class="nova6-js-decrement nova6-header__action"
                data-name="{{path}}"
            >-</span>
            <input
                class="nova6-text-input nova6-text-input--fp"
                name="{{path}}"
                type="text"
                value="{{value}}"
            >
            <span
                class="nova6-js-increment nova6-header__action"
                data-name="{{path}}"
            >+</span>
        </div>
    </div>
{{/inline}}

<header class="nova6-header">
    <div class="nova6-header__columns">
        {{> "systems/nova6/templates/components/artwork.hbs"}}

        <div class="nova6-header__name">
            <label class="nova6-header__label" for="name">
                {{#if isToken}}Token-{{/if}}{{localize "NOVA.Sheet.Name"}}
            </label>

            <input
                class="nova6-text-input nova6-text-input--header"
                name="name"
                type="text"
                value="{{actor.name}}"
            >
        </div>
    </div>

    <div class="nova6-header__tracker">
        <label class="nova6-header__label nova6-header__label--center" for="name">
            {{localize "NOVA.Sheet.Level"}}
        </label>

        <div class="nova6-header__tracker-wrapper">
            <input
                class="nova6-text-input nova6-text-input--fp"
                name="system.level"
                type="text"
                value="{{system.level}}"
            >
        </div>
    </div>

    <div class="nova6-header__plot-points">
        <label class="nova6-header__label nova6-header__label--center" for="name">
            {{localize "NOVA.Sheet.PlotPoints"}}
        </label>

        <div class="nova6-header__plot-points-wrapper">
            <span
                class="nova6-js-decrement nova6-header__action"
                data-name="system.plotPoints.current"
            >-</span>

            <input
                class="nova6-text-input nova6-text-input--fp"
                name="system.plotPoints.current"
                type="text"
                value="{{system.plotPoints.current}}"
            >

            <span class="nova6-header__plot-points-divider"> / </span>

            <input
                class="nova6-text-input nova6-text-input--fp"
                name="system.plotPoints.refresh"
                type="text"
                value="{{system.plotPoints.refresh}}"
            >

            <span
                class="nova6-js-increment nova6-header__action"
                data-name="system.plotPoints.current"
            >+</span>
        </div>
    </div>

    {{#each trackers as |tracker|}}
        {{> trackerPartial name=tracker.name path=tracker.path value=tracker.value}}
    {{/each}}

    {{> "systems/nova6/templates/components/header-logo.hbs"}}
</header>
