{{#each stresses as |stress stressIndex|}}
    <div class="nova6-stress">
        {{#each @root.stressTypes as |stressType|}}
            <div class="nova6-stress__{{stressType}}">
                <span>{{localize (lookup (concat "NOVA.Item.Stress." stressType) 'string')}}</span>
                {{#each @root.stressSeverities as |stressSeverity|}}
                    <div class="nova6-stress__boxes">
                        {{#each (lookup (lookup stress.data stressType) stressSeverity) as |box boxIndex|}}
                                <label class="nova6-checkbox">
                                    <input
                                        class="nova6-js-checkbox nova6-checkbox__input"
                                        type="checkbox"
                                        data-item="{{stress._id}}"
                                        data-type="{{stressType}}"
                                        data-severity="{{stressSeverity}}"
                                        data-index="{{boxIndex}}"
                                        {{#if box.status}}checked="checked"{{/if}}
                                    >
                                    <i class="nova6-checkbox__icon fa fa-check"></i>
                                </label>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
{{/each}}
