<div class="nova6-chat">
    <header class="nova6-headline nova6-headline--chat">
        <h3 class="nova6-headline__text">{{skill.name}}</h3>
    </header>

    <div class="nova6-roll">
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <ol class="dice-rolls">
                        {{#each rolls}}
                            <li class="roll {{this.classes}}">{{{this.result}}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
    </div>

    <p>
        {{#if success}}
            {{{localize "NOVA.Roll.Success"}}}
        {{else}}
            {{{localize "NOVA.Roll.Failure"}}}
        {{/if}}
    </p>

    <!--
    {{#if roll.hasTriples}}
        <p>{{{localize "NOVA.Roll.Triple"}}}</p>
    {{/if}}

    {{#if roll.hasDoubles}}
        <p>{{{localize "NOVA.Roll.Double"}}}</p>
    {{/if}}
    -->

    {{#if (gt generatedStuntPoints 0)}}
        <p>{{{localize "NOVA.Roll.SP" number=generatedStuntPoints}}}</p>
    {{/if}}
</div>
