<div class="nova6-chat">
    <header class="nova6-headline nova6-headline--chat">
        <h3 class="nova6-headline__text">{{skill.name}}</h3>
    </header>

    <div class="nova6-roll">
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <ol class="dice-rolls">
                        {{#each rolls}}
                            <li class="roll {{this.classes}}">{{{this.result}}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
    </div>

    <div class="nova6-roll__status">

        <p>
            {{#if success}}
                {{{localize "NOVA.Roll.Success"}}}
            {{else}}
                {{{localize "NOVA.Roll.Failure"}}}
            {{/if}}
        </p>

        {{#if (gt totalStuntPoints 0)}}
            <p>
                {{#if success}}
                    {{{localize "NOVA.Roll.StuntPointSuccess" number=totalStuntPoints}}}
                {{else}}
                    {{{localize "NOVA.Roll.StuntPointsFailure" number=totalStuntPoints}}}
                {{/if}}

                {{#each generatedStuntPoints}}
                    <span class="nova6-roll__stunt-point">{{lookup this 0}}
                        {{localize "NOVA.Roll.From"}}
                        {{lookup this 1}}
                    </span>
                {{/each}}
            </p>
        {{/if}}
    </div>
</div>
